<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.7" targetFramework="net461" />
  <package id="Microsoft.Bcl.Async" version="1.0.16" targetFramework="net461" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net461" />
  <package id="PusherClient" version="0.3.0" targetFramework="net461" />
  <package id="PusherServer" version="3.0.0" targetFramework="net461" />
  <package id="RestSharp" version="105.0.1" targetFramework="net461" />
  <package id="WebSocket4Net" version="0.14.1" targetFramework="net461" />
</packages>